%% -*- mode: erlang -*-

[{eredis_pool,
  [
   {global_or_local, local},
   {pools, [{eredis_cache_pool, [
                                 {size, 10},
                                 {max_overflow, 0}
                                ],[
                                  ]},
            {eredis_cache_pool_no_redis, [
                                 {size, 1},
                                 {max_overflow, 0}
                                ],[
                                   {port, 6380},
                                   {require_redis_on_start, false}
                                  ]}
           ]}
  ]
 }].
